/.idea/compiler.xml
/.idea/gradle.xml
/.idea/libraries/gradle_wrapper.xml
/.idea/jarRepositories.xml
/.idea/libraries/lib.xml
/.idea/misc.xml
/.idea/modules.xml
/SIARD_KR_2.2.iml
/.idea/vcs.xml
/.idea/workspace.xml
